@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 220, 220, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, #fff, #009A44, #D22322);
}
